doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title #{htmlWebpackPlugin.options.title}
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover')

  body
    #root
    script(id="js-app-source", data-sources=JSON.stringify(htmlWebpackPlugin.files.js)).
      (function(){
        var $sourceScript = document.getElementById("js-app-source");
        var files = JSON.parse($sourceScript.dataset.sources);
        for(var i = 0; i < files.length; i ++) {
          var src = files[i];
          var script = document.createElement("script");
          script.src = src;
          document.body.appendChild(script);
        }
        document.body.removeChild($sourceScript);
      })();
